<div class="center jumbotron">
	<h1>Welcome to Knight Academy!</h1>

	<h2>
		This is the home page for the academy of finest warriors the medieval world has ever seen!
	</h2><br />

	<%= link_to 'Register', new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
